body{
	margin:0;
	background-color:#e5e5e5
}

#container{
	margin: 0 auto;
	
max-width: 50em;

	background-color: #fff;

	border-radius: 18px;
	
border: 1px solid #eee;

	padding-left: 2%;
	
padding-right: 2%;
}
a{
	color: #f0ad2c;
	text-decoration:none;
}

a:hover{
	color:black;
}

#cover{	
	background-size:cover;
	background-image: url('img.jpg');
		
	height:100%;
	width:100%;
	color:white;
	font-weight:700;
	font-family:sans-serif, "rubik"	
}

#cover-content1{
	font-size:40px;
	padding-left:30px;
	padding-top:30px;
	margin-bottom:0;
}

.subheading{
	padding-left:30px;
	margin-top:0px;
}

#cover-content2{
	position:absolute;
	top:300px;
 	margin: 0 auto;
	text-align:center;
	font-size: 70px;
    	
}